<% layout("./layouts/boilerplate.ejs") %>
    <div class="row mt-2">
        <div class="col-8 offset-2">
            <h3>Edit your Listing</h3>
            <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="text" class="form-label">Title</label>
                    <input type="text" id="title" name="listing[title]" required class="form-control"
                        value="<%=listing.title%>">
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" required
                        name="listing[description]"><%=listing.description%></textarea>
                    <div class="invalid-feedback">please enter a short description</div>
                </div>

                <div class="mb-3">
                    Original Listing Image<br>
                    <img src="<%=originalImageUrl%>">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input class="form-control" ID="image" name="listing[image]" type="file">
                  
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" id="price" required name="listing[price]" type="number"
                            value="<%=listing.price%>">
                        <div class="invalid-feedback">price should be valid</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" id="country" required type="text" name="listing[country]"
                            value="<%=listing.country%>">
                        <div class="invalid-feedback">country name should be valid</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" id="location" required name="listing[location]" type="text"
                        value="<%=listing.location%>">
                    <div class="invalid-feedback">location should be valid</div>
                </div>

                <button class="btn btn-dark edit-btn">Edit</button>
                <br><br>
        </div>
    </div>
    <script src="/js/script.js"></script>